p {
  color: black;
  text-align: right;
}
h1 {
  color: green;
}
body {
  background-image: url(Rectangle.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: left center;
}
